[submodule "vendor/mir"]
	path = vendor/mir
	url = https://github.com/vnmakarov/mir.git
[submodule "vendor/angelscript"]
	path = vendor/angelscript
	url = https://github.com/codecat/angelscript-mirror.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
