[submodule "vendor/mir"]
	path = vendor/mir
	url = ../mir.git
[submodule "vendor/angelscript"]
	path = vendor/angelscript
	url = https://github.com/anjo76/angelscript.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tests/vendor/Catch2"]
	path = tests/vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
